@import '../colors';

.tile {
    display: block;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    filter: grayscale(0.8);
    border-radius: 0 1rem 1rem 0;

    &:hover {
        filter: grayscale(0);
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
        border-radius: 0 1rem 1rem 0;
    }
    h3 {
        margin-top: 0rem;
        margin-bottom: 0.75rem;
    }
    .overlay {
        padding: 1rem 1rem;
        color: $white;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: right;
        height: 100%;
        box-sizing: border-box;
        background: rgba($black, 0.6);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .click-border {
        background: $green;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0 1rem 1rem 0;
        i {
            color: $black;
            font-size: 2rem;
        }
    }
}

.tileGrid.code {
    .tile {
        background-position: top center;
    }
}
